.example_form{
	padding: 100px;
}

.test_overlay{
	min-height: 1000px;
	padding: 100px 0;
	background-color: rgba(0,0,0,.8);
}

.popup_title{
	position: absolute;
	left: 0;
	bottom: 100%;
	width: 100%;
	color: #fff;
	padding-bottom: 34px;
	font-size: 16px;
	line-height: 1;
}

.popup_box{
	width: 840px;
	position: relative;
	padding: 30px 0 0;
	margin: 80px auto 0;
	border-radius: 3px;
	background: #fff;
}

.arcticmodal-close{
	position: absolute;
	top: -55px;
	right: 0;
	width: 23px;
	height: 21px;
	cursor: pointer;
	z-index: 999;
	background: url(../img/close_3x.png) 0 0 no-repeat;
}

.popup_box_inner{
	padding: 0 40px;
}

.form_row{
	margin-bottom: 20px;
}
.form_row.extra{
	margin-bottom: 40px;
}
	.row_label{
		display: block;
		font-size: 11px;
		color: #9ba0aa;
		text-transform: uppercase;
		font-weight: 400;
		padding-bottom: 3px;
	}

		.txt_field{
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			width: 100%;
			border: 1px solid #d8d8d8;
			border-radius: 2px;
			font-size: 14px;
			padding: 11px 20px;
			color: #77757b;
			background-color: #fff;
			letter-spacing: 1px;
			font-family: 'PT Sans', sans-serif;
		}

		.txt_field:focus{
			color: #000;
			outline: none !important;
			border-color: #bcc8d0;
		}

		select.txt_field{
			padding-top: 10px;
			padding-bottom: 10px;
		}

.form_col{
	float: left;
}
.form_col .bootstrap-select{
	width: 100% !important;
}

.form_row .form_col:first-child ~ .form_col{
	margin-left: 20px;
} 

.fieldw_big{
	width: 500px;
}
.fieldw_md{
	width: 240px;
}
.fieldw_sm{
	width: 110px;
}

::-webkit-input-placeholder {color:#77757b;font-size: 14px;}
::-moz-placeholder          {color:#77757b;font-size: 14px;}/* Firefox 19+ */
:-moz-placeholder           {color:#77757b;font-size: 14px;}/* Firefox 18- */
:-ms-input-placeholder      {color:#77757b;font-size: 14px;}

.popup_tab_nav{
	overflow: hidden;
	margin-bottom: 22px;
}
	.popup_tab_nav_item{
		float: left;
		margin-right: 35px;
	}

	.popup_tab_nav_item_link{
		display: block;
		padding-bottom: 7px;
		color: #aeb4ba;
		font-size: 15px;
		font-weight: 600;
		border-bottom: 2px solid transparent;
	}
	
	.ui-tabs-active .popup_tab_nav_item_link,
	.popup_tab_nav_item_link:hover{
		border-color: #5f85e9;
		color: #5f85e9;
	}

	.form_btns{
		padding: 17px 30px;
		background-color: #f1f3f5;
		margin-top: 20px;
		border-top: 1px solid #e6e9ed;
	}

.checkbox1{
	outline: none;
	float: left;
	margin: 0 !important;
}

.checkbox_wrap{
	font-weight: normal;
}
.checkbox_label{
	overflow: hidden;
	padding: 0 0 0 10px;
	display: block;
}

.form_title{
	color: #525559;
	margin-bottom: 22px;
}

.form_separator{
	height: 17px;
	border: none;
	background: none;
}

.areah{
	height: 118px;
}

fieldset.popup_box_inner{
	min-height: 305px;
}


.status_label{
	display: inline-block;
	background-color: #5ce09b;
	color: #fff;
	font-size: 11px;
	margin-left: 20px;
	border-radius: 3px;
	text-transform: uppercase;
	padding: 7px 10px 5px;
}


.error_message{
	color: red;
	display: none;
	font-size: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	clear: both;
	padding: 4px 0 0;
}

.error .error_message{
	display: block;
}

.error .txt_field{
	border-color: red;
}

.hidden_form_element{
	opacity: .5;
}

.al_center{
	text-align: center;
}

.form_link{
	color: #5f85e9;
}

/*==========header========*/
.header_box{
	position: relative;
	z-index: 999;
	height: 60px;
	padding: 0 20px;
	border-top: 1px solid #e0e3ea;
	border-bottom: 1px solid #e0e3ea;
	background-color: #fff;
}
	.logo_wrap{
		padding: 14px 0 1px 19px;
		width: 183px;
		float: left;
	}
		.logo{
			display: inline-block;
			width: 160px;
			height: 37px;
			background: url(../images/logo.png) 0 0 no-repeat;
		}

		.logo span{visibility: hidden;}

	.header_orders{
		position: relative;
		border-left: 1px solid #f1f1f2;
		border-right: 1px solid #f1f1f2;
		float: left;
	}
		.header_order_list{
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			background: #fff;
			z-index: 999;
			font-size: 14px;
			padding: 10px 0;
			margin: 14px 0 0;
			color: #7c7f82;
			display: none;
		}
		.show_list .header_order_list{
			display: block;
			
		}
		.header_order_list_item{
			padding: 12px 23px;
			cursor: pointer;
		}
			.header_order_list_item:hover{
				background-color: #f4f4f4;
			}

	.header_order_btn{
		display: block;
		font-size: 14px;
		color: #7C7F82;
		font-weight: bold;
		position: relative;
		cursor: pointer;
		padding: 11px 25px 14px 17px;
		text-align: left;
		width: 190px;
	}
	.header_order_btn:after{
		background: url(../images/kluv.png) 0 0 no-repeat;
		display: block;
		width: 14px;
		height: 6px;
		background-size: contain;
		top: 28px;
		right: 14px;
		position: absolute;
		content: "";
	}

	.header_nav{
		padding: 0 0 0 20px;
		float: left;
	}

		.header_nav_list_item{
			float: left;
			margin: 0 9px;
		}
			.header_nav_list_link{
				font-size: 16px;
				color: #bebfc2;
				font-weight: normal;
				line-height: 1.23;
				display: block;
				border-top: 3px solid transparent;
				padding: 16px 16px 20px;
			}

			.current > .header_nav_list_link{
				border-color: #5e85e8;
				color: #4a4e51;
			}

	.header_user_box{
		float: right;
		padding: 6px 41px 11px 0;
	}
	.header_nav_list{
	margin-bottom: 2px;
	/*margin-bottom: 5px;*/
	}

	.user_img{
		position: relative;
		cursor: pointer;
		
	}
	
	.user_img img{
		width: 40px;
		height: 40px;
		border-radius: 40px;
	}

	.header_logout_btn{
		width: 15px;
		height: 12px;
		margin-left: 20px;
		background: url(../images/exit.png) 0 0 no-repeat;
		background-size: cover;
	}

	.icon_task{
		display: block;
		width: 20px;
		height: 20px;
		position: absolute;
		bottom: -8px;
		right: -13px;
		background: url(../images/bell-empty.png) 0 0 no-repeat;
	}
.active.header_user_box span{
	background: url(../images/bell.png) 0 0 no-repeat;
}

.clear {clear:both;width:100%;line-height:0;font-size:0;}
.d_ib{display: inline-block}
.val_mid{vertical-align: middle;}


.header_user_dropdown{
	position: absolute;
	top: 100%;
	margin: 15px 0 0;
	right: -50px;
	width: 210px;
	padding: 25px 20px 8px 35px;
	border: 1px solid #e3e3e4;
	color: #7c7f82;
	border-radius: 3px;
	font-size: 17px;
	background-color: #fff;
}

.user_img.active .header_user_dropdown{
	display: block;
}

.header_user_dropdown:after{
	display: block;
	content: '';
	width: 0;
	height: 0;
	margin: 0 0 0 20px;
	position: absolute;
	top: -9px;
	left: 50%;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 9px solid #e3e3e4;
}

	.header_user_dropdown_item{
		margin-bottom: 23px;
	}
		.header_user_dropdown_item a{
			color: #7c7f82;
		}
		.header_user_dropdown_item a:hover{
			color: #4fade4 ;
		}


.d_none{
	display: none;
}


.preloader_box{
	width: 195px;
	height: 71px;
	line-height: 71px;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #6d7981;
	color: #fff;
	font-size: 17px;
	text-align: center;
	border-radius: 3px;
}
	.preloader_box_inner{
		padding: 1px 0 0 50px;
		display: inline-block;
		background: url(../images/preloader.GIF) 0 50% no-repeat;
	}

