
.order_btn_data{
	font-size: 11px;
	display: block;
	font-weight: 400;
	padding-top: 6px;
}
.ext-case-docs .docs-not.ext-caption td{
  width: 16.6%;
  padding: 17px 15px 17px 30px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #d2d8de;
}

.ext-case-docs .docs-not.ext-item td{
	padding: 30px 20px 31px;
	width: 16.6%;
	text-transform:none;
	color: rgb(43,43,43);
}
.ext-case-docs .docs-not.ext-item .ext-item-capt{
	padding: 0;
}
.docs-not.ext-item{
	margin-bottom: 0;
}
.ext-case-docs .docs-not.ext-item .ext-tools{
	margin: -35px 0 0;
	padding: 20px;
	background: #fff;
}
.docs-input-box{
	position: absolute;
	top: 1px;
	left:0px;
	bottom: 0;

	width: 16.6%;
	
}
.ext-case-docs .ext-item:hover .docs-input-box{
  
  background-color: #fff;

}
.docs-input-box input[type="checkbox"]{display: none;}
.ext-case-docs .ext-item:hover .docs-input-box input{
	display: none;
}
.ext-case-docs .ext-item:hover .docs-input-box label{
	display: block;
}
.ext-case-docs .ext-item:hover .docs-input-box .docs-before{
	display: block;
}
.docs-input-box input:checked + label + .docs-before{
	display: block;
	background-color: #428bca;
}
.docs-before{
	width: 3px;
	height: 100%;
	position: absolute;
	left: 0;
	top:0;
	background-color:rgb(208,212,224);
	display: none;
}
.docs-input-box label{
  margin: -14px 0 0 0;
  position: absolute;
  top: 50%;
  left: 20px;
  display: none;
}
.doc-label:before{
  content: "";
  width: 20px;
  height: 20px;
  position: relative;
  top: 2px;
  display: inline-block;
  background-color: #5f85e9;
  border-radius: 6px;
}
.docs-input-box input:checked + .doc-label:before{
	background: url(../img/arrow_label.png) 0 0 no-repeat;
}

.ext-case-docs .ext-caption.docs-not{
	margin-bottom: 0;
}
/*-------popup-----*/
.popup{
	width: 680px;

}
.bg-bottom-popup{
	background-color: #f1f3f5;
	padding: 15px 20px;
	border-top: 1px solid #e8ebee;
}
[class*="popup_fun"]{
	cursor: pointer;
	border: none;
	width: 40px;
	height: 38px;
	display:block;
	float: left;
}
.popup_box_btn{
	border: 1px solid #e1e2e4;
	float: left;
	border-radius: 3px;
	
}
.popup_fun1_btn{
	background: url(../img/arrow-down_3x.png) 50% 10px no-repeat  #5f85e9;
}
.popup_fun1_btn:hover{
	background: url(../img/arrow-down_3x.png) 50% 10px no-repeat  #4b73dc;
}
.popup_fun2_btn{
	background: url(../img/paperclip_3x.png) 50% 6px no-repeat  #5f85e9;
	border-left: 1px solid #4475f6;
	position: absolute;
	top:0;
	left:0;
}
.popup_fun2_btn:hover{
	background: url(../img/paperclip_3x.png) 50% 6px no-repeat #4b73dc;
	border-left: 1px solid #4475f6;

}
.popup_fun3_btn{
	background: url(../img/close_3x.png) 50% 10px no-repeat  #5f85e9;
	border-left: 1px solid #4475f6;
}
.popup_fun3_btn:hover{
	background: url(../img/close_3x.png) 50% 10px no-repeat  #4b73dc;
	border-left: 1px solid #4475f6;
}
.popup_btn{
	float: left;
	margin-right: 18px;
}

.glyphicon-send-type:before, .glyphicon-print-type:before{
  content: "";
  display: block;
  width: 18px;
  height: 20px;
}
.glyphicon-send-type:before{
  background: url(../img/icon_send.png) 0 -20px no-repeat;
}
.popup_btn:hover .glyphicon-send-type:before{
	background: url(../img/icon_send.png) 0 0 no-repeat;
}
.glyphicon-print-type:before{
	 background: url(../img/icon_print.png) 0 3px no-repeat;
}
.popup_btn:hover .glyphicon-print-type:before{
	 background: url(../img/icon_print.png) 0 -14px no-repeat;
}
.popup_btn span{
	margin-right: 7px;
}
.box-modal_close{
	text-align: right;
}
.box-modal_close span{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/img_closed.png) 0 0 no-repeat;
}
.txt-area{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  font-size: 14px;
  padding: 11px 20px;
  color: #77757b;
  background-color: #fff;
  letter-spacing: 1px;
  /*font-family: 'Museo Sans Cyrl';*/
  outline: none;
  resize:none;
  min-height: 150px;
}
.post_row .txt-area{
  min-height: 300px;
}
.form_tb{
	width: 100%;
}
.form_tb th{
	background-color: #d2d8de;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 15px;
}
.form_tb td{
	padding: 20px 15px 25px;
	border-top: 1px solid #f0f2f4;
}
.form_tb_ft{
	text-align: right;
	background-color: #f1f3f5;
}
.form_tb_ft span{
	min-width: 118px;
	display: inline-block;
}
.form_tb_name{
  font-size: 14px;
  color: #9ba0aa;
  font-weight: 400;
 }
.doc-post_item{
  display: inline-block;
  color: #5f85e9;
  padding-bottom: 8px;
}
.icon-red-close, .icon-preloader{
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 20px;
}
.icon-red-close{
	background: url(../img/icon-red-close.png) 0 0 no-repeat;
	cursor: pointer;
}
.doc-preloader{
  display: inline-block;
  color: #c3c9d4;
  padding-bottom: 8px;
}
.icon-preloader{
	background: url(../img/icon-preloader.png) 0 0 no-repeat;
}
.select_file {
	display: inline-block;
	float: left;
	position: relative;
	width: 40px;
	height: 38px;
}
.select_file button{
	outline: none;
	cursor: pointer;
}
.select_file input[type="file"]{
	display: none;
}
.case-search-box{
	border:1px solid #d6dbde;
	border-radius: 3px;
}
.case-search-docs, .case-search-blank{
	display: block;
	width: 50%;
	color: #cfd5d9;
	font-size: 14px;
	padding: 16px 0;
	text-align: center;
	
}
.case-search-docs{
	float: left;
}
.case-search-blank{
	float: right;

}
.case-search-docs:hover,  .case-search-blank:hover, .current.case-search-docs,  .current.case-search-blank{
	color: #fff;
	background-color: #bbc6ce;
}
.form-control:focus{
	border-color: #b3b9bd;
}
[class*="btn-"]{
	font-size: 14px;
	line-height: 1.5;
	width: 184px;
	font-weight: 600;
	height: 40px;
	display: block;
	border-radius: 3px;
	cursor: pointer;
	text-align: center;
	border: 1px solid transparent;
}
.btn-blue1{
	color: #fff;
	background: url(../img/icon_plus.png) 35px 50% no-repeat #5e84e9;
}
.btn-blue2{
	color: #fff;
	background: url(../img/icon_send.png) 25px 7px no-repeat #5e84e9;
	padding: 8px 10px 7px 28px;
}
.btn-blue1:hover, .btn-blue2:hover{
	background-color: #7298ff;
	color: #fff;
}
.btn-blue1:focus{
	color: #fff;
	background: url(../img/icon_plus.png) 35px 50% no-repeat #5e84e9;
}
.btn-blue2:focus{
	color: #fff;
	background: url(../img/icon_send.png) 25px -14px no-repeat #5e84e9;
}
.btn-white, .btn-white1, .btn-white2{
	border-color: #dcdcdc;
	color: #5f85e9;
}
.btn-white{
	background: url(../img/arrow-down_3x.png) 40px -23px no-repeat;
}
.btn-white1{
	background: url(../img/pas.png) 25px 50% no-repeat;
}
.btn-white2{
	background: url(../img/icon_print.png) 25px -8px no-repeat #fff;
	padding: 8px 10px 7px 28px;
}
.btn-white:hover, .btn-white1:hover, .btn-white2:hover{
	border-color: #7298ff;
	color: #5f85e9;
}

.btn-white:focus{
	background: url(../img/arrow-down_3x.png) 40px -23px no-repeat;
}
.btn-white1:focus{
	background: url(../img/pas.png) 25px 50% no-repeat;
}
.btn-white2:focus{
	background: url(../img/icon_print.png) 25px -8px no-repeat #fff;
}
.btn-red{
	color: #fff;
	background: url(../img/delete.png) 30px 50% no-repeat #ee6546;
}
.btn-red:hover{
	color: #fff;
	background-color: #ff623e;
}
.btn-red:focus{
	color: #fff;
	background: url(../img/delete.png) 30px 50% no-repeat #ee6546;
}
.popup_close{
	position: absolute;
	right:0;
	width: 18px;
	height: 18px;
	top:15px;
	background: url(../img/close_3x.png) 0 0 no-repeat;
	cursor: pointer;
}