html, body {
	height: 100%;
}

.page {
	min-width: 768px;
	min-height: 100%;
	overflow: hidden;
}

.page-grey {
	background: #efefef;
}

.center {
	text-align: center;
}

.circle {
	border-radius: 50%;
}

.table {
	display: table;
	width: 100%;
	.table-row {
		display: table-row;
	}
	.table-cell {
		display: table-cell;
	}
}

hr {
	padding: 0;
	margin: 0;
	font-size: 0;
	border-top: 1px solid #e1e7ec;
}