.btn {
	height: 40px;
	padding: 10px 20px;
	font-size: 14px;
	@extend .myriad;
	box-shadow: none!important;
	outline: 0!important;
	border-radius: 3px;
	.bootstrap-select &:focus {
		outline: 0!important;
	}
	.separator {
		margin: 0 15px;
		position: relative;
		&:after {
			display: block;
			content: '';
			width: 1px;
			height: 24px;
			position: absolute;
			top: -5px;
			left: 0;
			background: #cfd7dd;
		}
	}
	&.active {
		.separator {
			&:after {
				background: #8da8bc;
			}
		}
	}
}

.btn-default {
	color: #9aaab2!important;
	border-color: #d6dbde!important;
	background-color: #fff;
	&:hover {
		background-color: #fafafa;
	}
	&:focus {
		background-color: #fff;
	}
	&.active {
		color: #fff!important;
		border-color: #9caac1!important;
		background-color: #9caac1!important;
		z-index: 10!important;
	}
}

.btn-blue {
	color: #4fade4!important;
	border-color: #419cdd!important;
	background-color: #fff;
	&:hover {
		color: #fff!important;
		background-color: #419cdd;
	}
	&:focus {
		color: #4fade4!important;
		background-color: #fff;
	}
}

.btn-orng {
	color: #fff!important;
	border-color: #ff8c41!important;
	background-color: #ff8c41;
	&:hover, &:focus {
		color: #fff!important;
		background-color: #ff8c41;
	}
}

.pagination {
	li {
		a, span {
			padding: 4px 6px;
			margin: 0 3px;
			color: #b5b5b5!important;
			line-height: 1;
			border-radius: 4px;
		}
		&.active {
			a, span {
				color: #fff!important;
			}
		}
		&:first-child {
			a {
				margin: 0 8px 0 0;
				padding-left: 12px;
				padding-right: 12px;
			}
		}
		&:last-child {
			a {
				margin: 0 0 0 8px;
				padding-left: 12px;
				padding-right: 12px;
			}
		}
	}
}