@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/2C9564_0_0.eot');
	src: url('../fonts/2C9564_0_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/2C9564_0_0.woff2') format('woff2'),
		 url('../fonts/2C9564_0_0.woff') format('woff'),
		 url('../fonts/2C9564_0_0.ttf') format('truetype'),
		 url('../fonts/2C9564_0_0.svg#arkadiaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Myriad';
    src: url('../fonts/185BB5_0_0.eot');
    src: url('../fonts/185BB5_0_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/185BB5_0_0.woff2') format('woff2'),
         url('../fonts/185BB5_0_0.woff') format('woff'),
         url('../fonts/185BB5_0_0.ttf') format('truetype'),
         url('../fonts/185BB5_0_0.svg#myriad_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad';
    src: url('../fonts/185BB5_2_0.eot');
    src: url('../fonts/185BB5_2_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/185BB5_2_0.woff2') format('woff2'),
         url('../fonts/185BB5_2_0.woff') format('woff'),
         url('../fonts/185BB5_2_0.ttf') format('truetype'),
         url('../fonts/185BB5_2_0.svg#myriad_probold') format('svg');
    font-weight: bold;
    font-style: normal;
}