input {
	box-shadow: none!important;
}

select {
	padding: 10px;
	color: #9aaab2;
	font-size: 14px;
	@extend .myriad;
	border: 1px solid #cfd7dd;
	background: #fff;
}

.form-control {
	height: 40px;
	padding: 10px 20px;
	color: #9aaab2;
	font-size: 14px;
	@extend .myriad;
	vertical-align: middle;
	border-color: #cfd7dd;
	background: #fff;
	outline: none;
	box-shadow: none!important;
	border-radius: 3px;
	@include input-placeholder(#9aaab2);
	&:focus {
		border-color: #cfd7dd;
	}
}

.bootstrap-select {
	.dropdown-menu {
		margin: 0;
		border-top: 0;
		border-radius: 0 0 3px 3px;
	}
	&.open {
		.btn-default {
			background: #fff;
			border-radius: 3px 3px 0 0;
		}
	}
}

.search {
	margin-bottom: 0;
	position: relative;
	vertical-align: middle;
	.icon-search {
		display: block;
		width: 25px;
		height: 25px;
		position: absolute;
		top: 8px;
		left: 12px;
		@include retina-sprite(icon-search);
	}
	.form-control {
		padding-left: 47px;
	}
	.search-dropdown {
		display: none;
		width: 100%;
		padding: 0;
		margin: 0; 
		position: absolute;
		top: 45px;
		left: 0;
		border-radius: 3px;
		box-shadow: 0 0 4px 0 rgba(#000,0.2);
		z-index: 200;
	}
	.list {
		padding: 10px 0;
		background: #fff;
		border-radius: 3px;
		.crop {
			overflow-y: auto;
			overflow-x: hidden;
		}
		.capt {
			padding: 7px 20px;
			color: #aeb5bb;
		}
		li {
			padding-left: 20px;
			padding-right: 20px;
			position: relative;
			&:hover {
				background: #fafafa;
			}
			.link {
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
	.more {
		display: block;
		height: 50px;
		margin-top: -5px;
		position: relative;
		color: #adbcc2;
		font-weight: bold;
		line-height: 50px;
		text-align: center;
		background: #f2f5f8; 
		border-radius: 0 0 3px 3px;
	}
	.keyword {
		margin: 0;
		li {
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
	&.open {
		.search-dropdown {
			display: block;
		}
	}
}

.calend {
	margin-bottom: 0;
	position: relative;
	vertical-align: middle;
	.icon-date {
		display: block;
		width: 25px;
		height: 25px;
		position: absolute;
		top: 8px;
		right: 12px;
		@include retina-sprite(icon-date);
		cursor: pointer;
	}
	.form-control {
		padding-right: 47px;
	}		
}

.dropdown-arrow {
	&:before {
		display: block;
		content: '';
		width: 0;
		height: 0;
		margin-left: -9px;
		position: absolute;
		top: -10px;
		left: 50%;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		border-bottom: 10px solid #dbdbdb;
	}
	&:after {
		display: block;
		content: '';
		width: 0;
		height: 0;
		margin-left: -8px;
		position: absolute;
		top: -9px;
		left: 50%;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 9px solid #fff;
	}
}