.museo {
	font-family: 'Museo Sans Cyrl', Arial, Helvetica, sans-serif;
}

.myriad {
	font-family: 'Myriad', Arial, Helvetica, sans-serif;
}

body {
	color: #2b2b2b;
	font-size: 14px;
	@extend .myriad;
	line-height: 1.2;
}

a {
	color: #4fade4;
	text-decoration: none;
	outline: none!important;
	&:hover, &:focus {
		color: #4fade4;
		text-decoration: none;
	}
}

h1 {
	margin: 0 0 20px 0;
	font-size: 36px;
	font-weight: normal;
}

h2 {
	margin: 0 0 30px 0;
	font-size: 24px;
	font-weight: normal;
}

h3 {
	margin: 0 0 30px 0;
	font-size: 18px;
}

h4 {
	font-size: 14px;
	font-weight: bold;
}

.caption {
	text-align: center;
}