.page-body {
	position: relative;
	overflow: hidden;
	.aside {
		width: 300px;
		float: left;
		padding-bottom: 9999px;
		margin-bottom: -9999px;
		border-right: 1px solid #dcdcdc;
		background: #fff;
	}
	.bside {
		width: 300px;
		float: right;
		padding-bottom: 9999px;
		margin-bottom: -9999px;
		border-left: 1px solid #e1e7ec;
		background: #fff;
	}
	.cside {
		position: relative;
		background: #f7f7f7;
		overflow: hidden;
	}
	.cside-nav {
		width: 100%;
		padding: 20px 40px;
		position: absolute;
		top: 0;
		left: 0;
		border-bottom: 1px solid #dcdcdc;
		background: #fcfcfc;
		z-index: 101;
		&>ul {
			margin: 0;
			&>li {
				display: inline-block;
				height: 40px;
				margin: 0 20px 0 0;
				position: relative;
				line-height: 40px;
			}
		}
	}
	.cside-nav-holder {
		height: 80px;
	}
}

.addon {
	.addon-dropdown {
		width: 210px;
		padding: 0;
		margin: 0; 
		position: absolute;
		top: 60px;
		left: 0;
		border: 1px solid #dadada;
		border-radius: 0;
		box-shadow: 0 0 4px 0 rgba(#000,0.1);
		z-index: 201;
		@extend .dropdown-arrow;
		&:before {
			left: auto;
			right: 153px;
		}
		&:after {
			left: auto;
			right: 154px;
		}
		li {
			padding-left: 20px;
			padding-right: 20px;
		}
		.addon-load {
			padding-top: 5px;
			padding-bottom: 5px;
			margin-bottom: 5px;
			font-weight: bold;
			border-bottom: 1px solid #dadada;
		}
		.addon-item a {
			color: #4d5254;
		}
	}
}