.page-footer {
	padding: 30px 50px;
	font-size: 13px;
	border-top: 1px solid #dcdcdc;
	background: #fafafa;
	overflow: hidden;
	.page-footer-nav {
		margin: 0;
		padding-top: 20px;
		float: right;
		li {
			margin: 0 25px;
			float: left;
		}
	}
	.copyright {
		color: #a9a9a9;
		line-height: 1.4;
		overflow: hidden;
	}
	.login & {
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		border: 0;
		background: none;
	}
}