.page-header {
	height: 70px;
	margin: 0;
	padding: 0;
	position: relative;
	border: 0;
	background: #1193f4;
	box-shadow: 0 0 6px 0 rgba(#000,0.4);
	z-index: 104;
	.row {
		height: 70px;
		margin: 0;
		&:after {
			display: block;
			content: '';
			clear: both;
		}
		.column1 {
			height: 70px;
			float: left;
		}
		.column2 {
			padding: 15px 40px 15px 0;
			float: right;
		}
	}
	.logo {
		width: 300px;
		height: 70px;
		padding: 0 30px;
		float: left;
		color: #fff;
		font-size: 16px;
		letter-spacing: 3px;
		line-height: 70px;
		@media only screen and (max-width: 1200px) {
			width: 85px;
		}
		.icon {
			display: inline-block;
			width: 25px;
			height: 25px;
			margin-right: 14px;
			vertical-align: middle;
			@include retina-sprite(icon-logo-psb);
		}
		.title {
			display: inline-block;
			vertical-align: middle;
			@media only screen and (max-width: 1200px) {
				display: none;
			}
		}
	}
	.top-nav {
		float: left;
		li {
			height: 70px;
			padding: 0 22px;
			float: left;
			color: #7e8086;
			font-size: 16px;
			line-height: 70px;
			a {
				color: #9ed9ff;
				&:hover {
					color: #fff;
				}
			}
			&.current {
				background: #1981cf;
				a {
					color: #fff;
				}
			}
		}
	}
	.contract {
		padding: 5px 0;
		margin-right: 50px;
		float: left;
		.contract-toggle {
			display: block;
			height: 30px;
			color: #fff;
			font-size: 16px;
			line-height: 30px;
			.icon-drop {
				display: inline-block;
				width: 14px;
				height: 8px;
				vertical-align: middle;
				@include retina-sprite(icon-drop);
			}
			.title {
				display: inline-block;
				margin-right: 10px;
				vertical-align: middle;
			}
		}
	}
	.feed {
		padding: 5px 0;
		float: left;
		position: relative;
		.feed-toggle {
			display: block;
			height: 30px;
			color: #fff;
			.icon-feed {
				display: inline-block;
				width: 30px;
				height: 30px;
				vertical-align: middle;
				@include retina-sprite(icon-feed);
			}
			.count {
				display: inline-block;
				margin: 0 8px;
				line-height: 30px;
				vertical-align: middle;
			}
		}
		.feed-dropdown {
			width: 480px;
			padding: 0;
			margin: 0; 
			position: absolute;
			top: 53px;
			left: auto;
			right: -80px;
			border: 1px solid #dadada;
			border-radius: 3px;
			box-shadow: 0 0 4px 0 rgba(#000,0.1);
			z-index: 201;
			@extend .dropdown-arrow;
			&:before {
				left: auto;
				right: 81px;
			}
			&:after {
				left: auto;
				right: 82px;
			}
			.btn-close {
				display: block;
				width: 20px;
				height: 20px;
				position: absolute;
				top: 20px;
				right: 20px;
				@include retina-sprite(icon-close);
			}
		}
		.feed-list-top {
			padding: 40px 30px;
			li {
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			a {
				color: #474A4B;
			}
			.feed-label {
				margin-left: 6px;
				color: #ff6632;
				vertical-align: super;
			}
		}
		.feed-list-bottom {
			padding: 20px 30px;
			border-top: 1px solid #dedede;
			overflow: hidden;
			.feed-list-new {
				float: left;
				color: #d1d1d1;
			}
			.feed-list-add {
				float: right;
			}
		}
		.feed-msg {
			display: none;
		}
		.feed-msg-top {
			padding: 20px 30px;
			border-bottom: 1px solid #dedede;
			overflow: hidden;
			.feed-msg-title {
				padding: 0 40px;
				font-size: 16px;
				font-weight: bold;
				text-align: center;
			}
			.feed-msg-back {
				display: block;
				width: 45px;
				height: 17px;
				position: absolute;
				top: 22px;
				left: 25px;
				@include retina-sprite(icon-back);
			}
		}
		.feed-msg-mid {
			padding: 40px 20px 10px 20px;
			.item {
				margin-bottom: 30px;
			}
			.item-capt {
				margin-bottom: 15px;
			}
			.feed-msg-text {
				min-width: 100px;
				max-width: 325px;
				padding: 15px;
				position: relative;
				font-size: 16px;
				border-radius: 8px;
				&:before {
					display: block;
					content: '';
					width: 24px;
					height: 20px;
					position: absolute;
					top: -15px;
				}
			}
			.feed-msg-date {
				width: 108px;
				padding: 0 15px;
				color: #d1d1d1;
				font-size: 14px;
				line-height: 1.4;
			}
			.item1 {
				.feed-msg-text {
					float: left;
					background: #f3f3f3;
					&:before {
						left: 40px;
						@include retina-sprite(msg-root1);
					}
				}
				.feed-msg-date {
					float: left;
				}
			}
			.item2 {
				.block-manager-md {
					figure {
						margin: 0 0 0 20px;
						float: right;
					}
					.info {
						text-align: right;
					}
				}
				.feed-msg-text {
					float: right;
					color: #fff;
					background: #1981cf;
					&:before {
						right: 40px;
						@include retina-sprite(msg-root2);
					}
				}
				.feed-msg-date {
					float: right;
					text-align: right;
				}
			}
		}
		.feed-msg-bottom {
			padding: 10px;
			border-top: 1px solid #dedede;
			background: #f6f6f6;
			.feed-msg-area {
				width: 100%;
				height: 80px;
				padding: 15px;
				border: 1px solid #eaeaea;
				resize: vertical;
				outline: none;
			}
			.feed-msg-btns {
				padding: 10px 0;
				text-align: right;
				a {
					margin: 0 15px;
					font-size: 14px;
					font-weight: bold;
				}
			}
			.feed-msg-cancel {
				color: #aeb4b8;
			}
		}
	}
	.task {
		padding: 5px 0;
		margin: 0 15px;
		float: left;
		position: relative;
		.task-toggle {
			display: block;
			width: 30px;
			height: 30px;
			.icon-task {
				display: inline-block;
				width: 30px;
				height: 30px;
				@include retina-sprite(icon-task);
			}
			&.active {
				.icon-task {
					@include retina-sprite(icon-task-active);
				}
			}
		}
		.task-dropdown {
			width: 270px;
			padding: 0;
			margin: 0; 
			position: absolute;
			top: 53px;
			left: auto;
			right: -32px;
			border: 1px solid #dadada;
			border-radius: 3px;
			box-shadow: 0 0 4px 0 rgba(#000,0.1);
			z-index: 201;
			@extend .dropdown-arrow;
			&:before {
				left: auto;
				right: 36px;
			}
			&:after {
				left: auto;
				right: 37px;
			}
		}
		.list {
			padding: 10px 0;
			background: #fff;
			border-radius: 3px;
		}
		.more {
			display: block;
			height: 50px;
			margin-top: -5px;
			position: relative;
			color: #adbcc2;
			font-weight: bold;
			line-height: 50px;
			text-align: center;
			background: #f2f5f8; 
			border-radius: 0 0 4px 4px;
		}
		.msg {
			margin: 0;
			li {
				padding: 0 20px;
				&:hover {
					background: #fafafa;
				}
				&:first-child {
					.item {
						border: 0;
					}
				}
			}
			.item {
				padding: 15px 0;
				border-top: 1px solid #d9e0e5;
				overflow: hidden;
			}
			figure {
				width: 40px;
				height: 40px;
				margin-right: 10px;
				float: left;
			}
			.info {
				overflow: hidden;
			}
		}
	}
	.user {
		float: left;
		position: relative;
		.user-toggle {
			display: inline-block;
			width: 40px;
			height: 40px;
			position: relative;
			.count {
				display: inline-block;
				height: 13px;
				padding: 0 4px;
				position: absolute;
				left: 24px;
				bottom: -4px;
				color: #fff;
				font-size: 10px;
				line-height: 13px;
				background: #ff8c41;
				border-radius: 6px;
			}
		}
		.user-dropdown {
			width: 210px;
			padding: 30px;
			margin: 0; 
			position: absolute;
			top: 60px;
			left: auto;
			right: -26px;
			color: #fff;
			border: 0;
			background: #323941;
			border-radius: 0;
			z-index: 202;
			@extend .dropdown-arrow;
			&:before {
				display: none;
				left: auto;
				right: 36px;
			}
			&:after {
				left: auto;
				right: 37px;
				border-bottom-color: #323941;
			}
			ul {
				margin: 0;
			}
			li {
				margin-bottom: 15px;
				font-size: 16px;
				a {
					color: #e4e9eC;
				}
				&:last-child {
					margin-bottom: 0;
					a {
						color: #727e86;
					}
				}
			}
		}
	}
}