// Extra small screen / phone
$screen-xs: 480px;
// Small screen / tablet
$screen-sm: 768px;
// Medium screen / desktop
$screen-md: 992px;
// Large screen / wide desktop
$screen-lg: 1200px;


@mixin respond-to($media) {
  @if $media == screen-xs {
    @media only screen and (max-width: $screen-xs) { @content; }
  }
  @if $media == screen-sm {
    @media only screen and (max-width: $screen-sm) { @content; }
  }
  @else if $media == screen-md {
    @media only screen and (max-width: $screen-md) { @content; }
  }
  @else if $media == screen-lg {
    @media only screen and (min-width: $screen-md) { @content; }
  }
}

.hidden {
	display: none!important;
}

.hidden-md {
	@include respond-to(screen-md) {display: none!important;}
}

.visible-md {
	@include respond-to(screen-md) {display: block!important;}
}

.hidden-sm {
  @include respond-to(screen-sm) {display: none!important;}
}

.visible-sm {
  @include respond-to(screen-sm) {display: block!important;}
}