.block-company-sm {
	figure {
		width: 20px;
		height: 20px;
		margin-right: 20px;
		float: left;
		text-align: center;
		.icon {
			display: inline-block;
			width: 20px;
			height: 20px;
		}
	}
	.info {
		line-height: 1.4;
		overflow: hidden;
		.title {
			font-weight: bold;
			a {
				color: #313131;
			}
		}
		.descript {
			color: #c6cdd2;
			p {margin: 0;}
		}
		.icon {
			display: inline-block;
			width: 23px;
			height: 8px;
			margin-left: 5px;
			vertical-align: top;
		}
	}
}

.block-manager-sm {
	overflow: hidden;
	figure {
		width: 30px;
		height: 30px;
		margin-right: 10px;
		float: left;
	}
	.info {
		font-size: 12px;
		line-height: 1.4;
		overflow: hidden;
	}
	.name {
		height: 16px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		a {
			color: #313131;
		}
	}
	.post {
		color: #c6cdd2;
	}
}

.block-manager-md {
	overflow: hidden;
	figure {
		width: 40px;
		height: 40px;
		margin-right: 20px;
		float: left;
	}
	.info {
		padding-top: 3px;
		overflow: hidden;
		.name {
			margin-bottom: 3px;
			font-weight: bold;
			a {
				color: #313131;
			}
		}
		.post {
			margin-bottom: 7px;
		}
		.elem {
			padding-top: 15px;
		}
	}
}

.block-manager-lg {
	text-align: center;
	figure {
		width: 130px;
		height: 130px;
		padding: 5px;
		margin: 0 auto 20px;
	}
	.title {
		margin-bottom: 5px;
		font-weight: bold;
	}
	.descript {
		margin-bottom: 10px;
	}
}

.block-manager-lg.current {
	figure {
		background: #ff8c41;
		border-radius: 50%;
	}
}

.span-operat {
	display: inline-block;
	height: 34px;
	padding: 1px;
	border: 1px solid #e6eaed;
	background: #fff;
	border-radius: 3px;
	.icon {
		display: inline-block;
		width: 30px;
		height: 30px;
		vertical-align: middle;
	}
	.title {
		height: 30px;
		padding: 0 10px;
		font-size: 14px;
		line-height: 30px;
		vertical-align: middle;
	}
}

.block-direct {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	.direct {
		position: relative;
	}
	.direct-toggle {
		display: block;
		width: 20px;
		height: 20px;
		.icon {
			display: inline-block;
			width: 20px;
			height: 20px;
			border: 1px solid #c5e1ee;
			background: #e9f5fb;
			border-radius: 3px;
		}
	}
	.direct-dropdown {
		width: 240px;
		padding: 20px 20px 10px 20px;
		margin-left: -20px;
		margin-top: 20px;
		border: 1px solid #ddd;
		@extend .dropdown-arrow;
		&:before {
			left: 30px;
		}
		&:after {
			left: 30px;
		}
		li {
			min-height: 20px;
			margin-bottom: 10px;
			&.empty {
				padding-left: 30px;
			}
		}
		.icon {
			display: inline-block;
			width: 20px;
			height: 20px;
			margin-right: 10px;
			vertical-align: middle;
		}
		span {
			display: inline-block;
			color: #777;
			line-height: 22px;
			vertical-align: middle;
		}
		.btn-close {
			display: block;
			width: 20px;
			height: 20px;
			position: absolute;
			top: 20px;
			right: 20px;
		}
		.task-menu2 {
			display: none;
		}
	}
}

.block-back {
	margin-bottom: 30px;
	font-size: 15px;
	font-weight: bold;
	.icon {
		display: inline-block;
		width: 30px;
		height: 20px;
		margin-right: 6px;
		vertical-align: middle;
	}
	span {
		display: inline-block;
		vertical-align: middle;
	}
}

.block-path {
	margin-bottom: 30px;
	font-size: 15px;
	font-weight: bold;
	.icon {
		display: inline-block;
		width: 30px;
		height: 20px;
		margin: 0 20px;
		vertical-align: middle;
	}
	span {
		display: inline-block;
		vertical-align: middle;
	}
}