.ext-case-accord {
	.ext-menu {
		&>li {
			padding: 15px;
			border-top: 1px solid #e9e9e9;
		}
		ul {
			display: none;
			padding-top: 20px;
			padding-left: 15px;
			&>li {
				margin-bottom: 10px;
				.icon {
					display: inline-block;
					width: 20px;
					height: 20px;
					margin-right: 5px;
					vertical-align: middle;
				}
				.ext-title {
					display: inline-block;
					height: 20px;
					font-size: 14px;
					line-height: 20px;
					vertical-align: middle;
				}
			}
		}
		.active {
			ul {
				display: block;
			}
			.ext-toggle {
				color: #ff8c41;
				font-weight: bold;
			}
		}
		a {
			color: #9d9d9d;
		}
		.ext-toggle {
			.icon {
				display: inline-block;
				width: 30px;
				height: 30px;
				margin-right: 10px;
				vertical-align: middle;
			}
			.ext-title-lg {
				display: inline-block;
				height: 30px;
				font-size: 16px;
				line-height: 30px;
				vertical-align: middle;
			}
		}
	}
}

.icon-new-lg {
  @include retina-sprite(icon-new-lg);
  .active & {@include retina-sprite(icon-new-lg-a);}
}
.icon-income-lg {
	@include retina-sprite(icon-income-lg);
	.active & {@include retina-sprite(icon-income-lg-a);}
}
.icon-unsend-lg {
  @include retina-sprite(icon-unsend-lg);
  .active & {@include retina-sprite(icon-unsend-lg-a);}
}
.icon-send-lg {
  @include retina-sprite(icon-send-lg);
  .active & {@include retina-sprite(icon-send-lg-a);}
}
.icon-inset-lg {
  @include retina-sprite(icon-inset-lg);
  .active & {@include retina-sprite(icon-inset-lg-a);}
}
.icon-del-lg {
  @include retina-sprite(icon-del-lg);
  .active & {@include retina-sprite(icon-del-lg-a);}
}

.icon-unsend-sm {@include retina-sprite(icon-unsend-sm);}
