.ext-case-bids {
	.ext-item {
		padding: 35px 50px 25px 20px;
		position: relative;
		border-bottom: 1px solid #e1e7ec;
		&.current {
			padding-left: 15px;
			border-left: 5px solid #c0cdda;
		}
		.ext-title {
			margin: 0 0 10px 0;
			font-size: 14px;
			font-weight: bold;
			a {
				color: #2b2b2b;
			}
		}
		p {
			margin: 0 0 10px 0;
			color: #6e7579;
			font-size: 14px;
		}
		.icon-chk {
			display: block;
			width: 25px;
			height: 25px;
			position: absolute;
			top: 30px;
			right: 16px;
			@include retina-sprite(icon-bid-chk);
			&.active {
				@include retina-sprite(icon-bid-chk-a);
			}
		}
	}
}