.ext-operat {
	width: 100%;
	height: 140px;
	padding: 30px 60px;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	background: rgba(#19233b,0.8);
	z-index: 102;
	@media only screen and (max-width: 1000px) {padding: 30px 20px;}
	.ext-qty {
		padding: 10px 0;
		float: left;
		.count {
			display: inline-block;
			margin-left: 20px;
			font-size: 50px;
			vertical-align: middle;
		}
		.title {
			display: inline-block;
			margin-left: 30px;
			font-size: 16px;
			vertical-align: middle;
			@media only screen and (max-width: 1000px) {display: none;}
		}
	}
	.ext-nav {
		float: right;
		li {
			margin: 0 19px;
			padding-top: 10px;
			float: left;
			text-align: center;
			a {
				color: #fff;
			}
		}
		.icon {
			display: inline-block;
			width: 40px;
			height: 40px;
			margin: 0 auto 10px;
		}
		.title {
			display: inline-block;
			font-size: 16px;
		}
	}
}

.icon-op-cross {@include retina-sprite(icon-op-cross);}
.icon-op-list {@include retina-sprite(icon-op-list);}
.icon-op-send {@include retina-sprite(icon-op-send);}
.icon-op-del {@include retina-sprite(icon-op-del);}
.icon-op-sel {@include retina-sprite(icon-op-sel);}