.ext-case-search {
	.ext-cnt {
		padding: 20px;
	}
	.ext-row {
		margin-bottom: 10px;
		.btn-group {
			width: 100%!important;
			.calend {
				width: 50%;
				float: left;
				&:first-child .form-control {
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
				&:last-child .form-control {
					margin-left: -1px;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
		}
		.switcher {
			.btn {
				width: 50%;
			}
		}
	}
}