.ext-case-dashboard {
	max-width: 1140px;
	margin: 0 auto;
	.ext-case-cnt {
		padding: 40px 40px 20px 20px;
	}
	.ext-pre-set-1 {
		width: 25%;
		padding-left: 20px;
		float: left;
	}
	.ext-pre-set-3 {
		width: 75%;
		padding-left: 20px;
		float: left;
	}
	.ext-board-sm {
		padding: 25px 30px;
		margin-bottom: 20px;
		position: relative;
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 3px 3px 0 rgba(#000,0.1);
		overflow: hidden;
		.ext-title {
			margin-bottom: 6px;
			font-size: 26px;
		}
		.ext-descript {
			color: #a6a6a6;
			font-size: 14px;
			line-height: 1.4;
		}
		.ext-red {
			color: #ed2d42;
		}
		.ext-detect {
			display: block;
			width: 10px;
			height: 10px;
			position: absolute;
			top: 15px;
			right: 15px;
			background: #e61233;
			border-radius: 50%;
		}
		.ext-board-wrap {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.ext-board-sm-fix {
		min-height: 180px;
	}
	.ext-board-dbl {
		margin-bottom: 20px;
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 3px 3px 0 rgba(#000,0.1);
		.ext-board-sm {
			min-height: 190px;
			margin: 0;
			padding: 20px 30px;
			position: relative;
			border-radius: 0;
			border-bottom: 1px solid #e0e0e0;
			background: none;
			box-shadow: none;
			overflow: hidden;
		}
	}
	.ext-board-ctr {
		margin-bottom: 20px;
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 3px 3px 0 rgba(#000,0.1);
		.ext-board-sm {
			margin: 0;
			padding: 19px 10px 19px 40px;
			position: relative;
			border-radius: 0;
			border-left: 4px solid #6ad888;
			border-bottom: 1px solid #e0e0e0;
			background: none;
			box-shadow: none;
			overflow: hidden;
			.icon-arr {
				display: block;
				width: 18px;
				height: 25px;
				position: absolute;
				top: 24px;
				left: 12px;
			}
		}
		.ext-board-down {
			border-left: 4px solid #6ad888;
			.icon-arr {
				@include retina-sprite(icon-arr-down);
			}
		}
		.ext-board-up {
			border-left: 4px solid #ff3b69;
			.icon-arr {
				@include retina-sprite(icon-arr-up);
			}
		}
	}
	.ext-board-b {
		color: #fff;
		.ext-title,
		.ext-descript {
			color: #fff;
		}
	}
	.ext-board-add {
		text-align: center;
		background: #95a8b9;
		.icon-addon {
			display: block;
			width: 50px;
			height: 50px;
			margin: 20px auto;
			@include retina-sprite(icon-addon);
		}
	}
	.ext-board-bids {
		background: #fff image-url('bg-dash-bids.png') no-repeat 0 100%;
		@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
			background: #fff image-url('bg-dash-bids@2x.png') no-repeat 0 100%;
		}
	}
	.ext-board-docs {
		background: #fff image-url('bg-dash-docs.png') no-repeat 100% 100%;
		@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
			background: #fff image-url('bg-dash-docs@2x.png') no-repeat 100% 100%;
		}
	}
	.ext-board-certi {
		background: #fff image-url('bg-dash-certi.png') no-repeat 100% 100%;
		@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
			background: #fff image-url('bg-dash-certi@2x.png') no-repeat 100% 100%;
		}
	}
	.ext-board-fin {
		background: image-url('bg-dash-fin.png') no-repeat 0 100%!important;
		@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
			background: image-url('bg-dash-fin@2x.png') no-repeat 0 100%!important;
		}
	}
	.ext-board-lim {
		background: image-url('bg-dash-lim.png') no-repeat 0 100%!important;
		@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
			background: image-url('bg-dash-lim@2x.png') no-repeat 0 100%!important;
		}
	}
	.ext-board-credit {
		background: #fff image-url('bg-dash-credit.png') no-repeat 100% 100%;
		@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
			background: #fff image-url('bg-dash-credit@2x.png') no-repeat 100% 100%;
		}
	}
	.ext-board-regrs {
		
	}
	.ext-board-mgr {
		background: #fdd259 image-url('bg-dash-mgr.png') no-repeat 100% 100%;
		@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
			background: #fdd259 image-url('bg-dash-mgr@2x.png') no-repeat 100% 100%;
		}
	}
	.ext-board-news {
		background: #f95b4e;
		.ext-news-title {
			margin-bottom: 20px;
			font-weight: bold;
		}
		.ext-news-date {
			margin-bottom: 10px;
		}
		.ext-descript {
			margin-bottom: 20px;
		}
		.ext-news-more {
			display: block;
			height: 34px;
			padding: 0 30px;
			margin: 0 -30px -30px;
			color: #fff;
			line-height: 34px;
			border-radius: 0 0 5px 5px;
			background: #cb4c41;
			overflow: hidden;
		}
	}
	.ext-board-faq {
		background: #797e8c;
	}
	.ext-board-lg {
		margin-bottom: 20px;
		position: relative;
		background: #f8f8f8;
		border-radius: 5px;
		box-shadow: 0 3px 3px 0 rgba(#000,0.1);
		.ext-capt {
			padding: 30px;
			position: relative;
			border-bottom: 1px solid #e6e6e6;
			border-radius: 5px 5px 0 0;
			background: #fff;
			.ext-title {
				font-size: 28px;
			}
			.ext-reload {
				display: block;
				width: 35px;
				height: 35px;
				margin-top: -17px;
				position: absolute;
				top: 50%;
				right: 30px;
				@include retina-sprite(icon-reload);
			}
		}
		.ext-cnt {
			padding: 10px 30px;
			table {
				width: 100%;
			}
			th {
				padding: 20px 20px 20px 0;
				color: #595c62;
			}
			td {
				padding: 20px 20px 20px 0;
				color: #757575;
				border-top: 1px solid #d8d8d8;
				a {
					color: #757575;
					&:hover {
						color: #000;
					}
				}
			}
		}
	}
}