.ext-case-docs {
	.ext-cnt {
		padding: 40px;
	}
	.ext-caption {
		margin-bottom: 35px;
		table {
			width: 100%;
		}
		td {
			width: 20%;
			padding: 0 20px;
			color: #8d98a2;
			font-size: 12px;
			text-transform: uppercase;
			&:first-child {
				padding-left: 40px;
			}
		}
	}
	.ext-item {
		margin-bottom: 10px;
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 3px 3px 0 rgba(#000,0.1);
		.ext-item-capt {
			padding: 20px;
			position: relative;
		}
		.ext-item-title {
			padding-left: 20px;
			font-size: 16px;
			font-weight: bold;
		}
		table {
			width: 100%;
		}
		td {
			width: 20%;
			padding: 20px;
			font-size: 14px;
			border-top: 1px solid #e6ecee;
			border-left: 1px solid #e6ecee;
			&:first-child {
				border-left: 0;
				padding-left: 40px;
			}
		}
		.ext-check {
			display: none;
			margin: -6px 0 0 0;
			position: absolute;
			top: 50%;
			left: 20px;
		}
		.ext-tools {
			display: none;
			margin: -15px 0 0 0;
			position: absolute;
			top: 50%;
			right: 40px;
			li {
				width: 30px;
				height: 30px;
				margin: 0 2px;
				float: left;
				.icon {
					display: inline-block;
					width: 30px;
					height: 30px;
				}
			}
		}
		&:hover {
			.ext-check, .ext-tools {
				display: block;
			}
		}
		&.ext-item-choosed {
			box-shadow: 0 3px 3px 0 rgba(#000,0.1), inset 0 0 0 1px #ff8c41;
			.ext-check {
				display: block;
			}
		}
	}
}

.icon-cross-b {@include retina-sprite(icon-cross-b);}
.icon-back-b {@include retina-sprite(icon-back-b);}
.icon-edit-b {@include retina-sprite(icon-edit-b);}
.icon-send-b {@include retina-sprite(icon-send-b);}
.icon-del-b {@include retina-sprite(icon-del-b);}