.ext-case-certi {
	.ext-cnt {
		padding: 40px;
	}
	.ext-item {
		margin-bottom: 10px;
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 3px 3px 0 rgba(#000,0.1);
		.ext-item-capt {
			padding: 20px;
			position: relative;
			border-bottom: 1px solid #e6ecee;
		}
		.ext-item-title {
			padding-left: 20px;
			font-size: 16px;
			font-weight: bold;
		}
		table {
			width: 100%;
		}
		td {
			padding: 10px 40px;
			font-size: 14px;
			vertical-align: top;
			border-left: 1px solid #e6ecee;
			&:first-child {
				border-left: 0;
			}
		}
		tr {
			&:hover {
				td {
					background: #f3f7f9;
				}
			}
		}
	}
}