.ext-case-reports {
	.ext-cnt {
		padding: 40px 35px;
	}
	.ext-item {
		margin-bottom: 18px;
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 3px 3px 0 rgba(#000,0.1);
		.ext-item-title {
			font-size: 16px;
			font-weight: bold;
		}
		table {
			width: 100%;
		}
		td {
			padding: 20px 0 20px 40px;
			font-size: 14px;
		}
		.ext-status {
			color: #a6a6a6;
			.icon {
				display: inline-block;
				width: 25px;
				height: 25px;
				margin-right: 15px;
				vertical-align: middle;
				@include retina-sprite(icon-status-re);
			}
			.ext-status-dt {
				display: inline-block;
				vertical-align: middle;
			}
			&.active {
				color: #7fcd5b;
				.icon {
					@include retina-sprite(icon-status-chk);
				}
			}
		}
	}
}
