.ext-case-sorti {
	margin-bottom: 30px;
	.ext-cnt {
		padding: 20px;
		border-top: 1px solid #e9e9e9;
	}
	li {
		margin-bottom: 15px;
	}
	label {
		font-weight: normal;
		input {
			margin: 3px 0 0 0;
			float: left;
		}
		span {
			display: block;
			margin-left: 30px;
			color: #a0abaf;
			font-size: 16px;
			line-height: 1.4;
			vertical-align: middle;
		}
	}
	.ext-btn-sorti {
		width: 100%;
		height: 60px;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		border: 0;
		background: #1981cf;
		cursor: pointer;
	}
}