.ext-promo {
	.ext-globalwidth {
		max-width: 1200px;
		margin: 0 auto;
	}
	.ext-case-covered {
		background-repeat: no-repeat;
		background-position: 50% 0;
		background-size: cover;
	}
}

.ext-case-promo-set1 {
	background-color: #151d28;
	.ext-case-cnt {
		padding: 220px 200px;
		position: relative;
		text-align: center;
	}
	.ext-title {
		margin-bottom: 40px;
		color: #fff;
		font-size: 50px;
		line-height: 1.4;
	}
	.ext-btn-sample {
		display: inline-block;
		height: 70px;
		padding: 0 40px;
		color: #fff;
		font-size: 24px;
		line-height: 70px;
		border-radius: 35px;
		background: #1981cf;
	}
	.ext-btn-enter {
		display: inline-block;
		height: 44px;
		padding: 0 40px;
		position: absolute;
		top: 40px;
		right: 70px;
		color: #fff;
		font-size: 16px;
		line-height: 42px;
		border: 1px solid #fff;
		border-radius: 4px;
	}
	.ext-logo-promo {
		display: block;
		width: 261px;
		height: 44px;
		position: absolute;
		top: 40px;
		left: 70px;
		@include retina-sprite(logo-promo);
	}
}

.ext-case-promo-set2 {
	background: #f9f9f9 image-url('bg-promo-set2.jpg') no-repeat 50% 0;
	.ext-case-cnt {
		height: 566px;
	}
}

.ext-case-promo-set3 {
	background: #fff image-url('bg-promo-set3.jpg') no-repeat 50% 100%;
	.ext-case-cnt {
		padding-bottom: 400px;
	}
	.item {
		display: inline-block;
		width: 33.3%;
		padding: 100px 60px 0;
		vertical-align: top;
		.icon {
			display: block;
			width: 65px;
			height: 65px;
			margin: 0 auto 30px;
		}
		.descript {
			color: #5e6466;
			font-size: 16px;
			line-height: 1.4;
			text-align: center;
		}
		.icon-promo1 {@include retina-sprite(icon-promo1);}
		.icon-promo2 {@include retina-sprite(icon-promo2);}
		.icon-promo3 {@include retina-sprite(icon-promo3);}
		.icon-promo4 {@include retina-sprite(icon-promo4);}
		.icon-promo5 {@include retina-sprite(icon-promo5);}
		.icon-promo6 {@include retina-sprite(icon-promo6);}
	}
}

.ext-promo-footer {
	color: #c3b9b9;
	font-size: 14px;
	line-height: 25px;
	.ext-case-cnt {
		padding: 50px 60px;
		overflow: hidden;
	}
	.ext-logo-promo {
		display: block;
		width: 163px;
		height: 25px;
		margin-right: 60px;
		float: left;
		@include retina-sprite(logo-promo-bt);
	}
	.ext-contact {
		margin-left: 60px;
		float: right;
	}
	.ext-copyright {
		overflow: hidden;
	}
}