.login {
	background: image-url('bg-login-top.png') no-repeat 50% 0;
	.page {
		position: relative;
		background: image-url('bg-login-bt.jpg') no-repeat 100% 100%;
	}
}

.case-login {
	width: 752px;
	margin: 0 auto;
	padding: 230px 0 130px;
	position: relative;
	.logo-factoring {
		width: 220px;
		height: 40px;
		margin: 0 auto 20px;
		@include retina-sprite(logo-factoring);
	}
	.slogan {
		margin-bottom: 50px;
		color: #838f9f;
		font-size: 36px;
		text-align: center;
		.note {
			display: inline-block;
			height: 20px;
			padding: 0 10px;
			font-size: 14px;
			line-height: 20px;
			border-left: 4px solid #ff8b53;
		}
	}
	.form-group {
		width: 366px;
		margin: 0 auto;
	}
	.row {
		margin: 0 0 20px 0;
		position: relative;
		.field {
			input {
				width: 100%;
				height: 60px;
				padding: 20px;
				color: #4a4c4e;
				font-size: 18px;
				line-height: 20px;
				border: 1px solid #bfbfbf;
				border-radius: 4px;
				background: #fff;
				outline: none;
				@include input-placeholder(#b8babb);
				&.active {
					border-color: #6aafe2;
					background-color: #f5fbff;
				}
			}
		}
		.field-alert {
			height: 20px;
			color: #ff6464;
			font-size: 13px;
			position: absolute;
			top: 100%;
			left: 0;
			line-height: 20px;
			overflow: hidden;
		}
		.field-pass input {
			padding-right: 130px;
		}
		.field-required input {
			border-left: 4px solid #ff8b53;
			border-radius: 0 4px 4px 0;
		}
		.field-error input {
			border-color: #ff6464;
			background-color: #fff9f9;
		}
	}
	.btn-restore {
		position: absolute;
		top: 20px;
		right: 20px;
		color: #a9abad;
		font-size: 18px;
		b {
			color: #4fade4;
		}
	}
	.btn-enter {
		width: 100%;
		height: 60px;
		color: #fff;
		font-size: 20px;
		border: 0;
		border-radius: 4px;
		background: #3194dd;
		outline: none;
	}
	.btn-reg {
		display: block;
		width: 100%;
		height: 60px;
		color: #3194dd;
		font-size: 20px;
		line-height: 60px;
		text-align: center;
		border: 1px solid #3194dd;
		border-radius: 4px;
		background: #fff;
		outline: none;
	}
	table {
		width: 100%;
		td {
			vertical-align: top;
		}
	}
	.captcha {
		height: 140px;
		border: 1px solid #bfbfbf;
		border-radius: 4px;
		img {
			border-radius: 3px;
		}
	}
}